body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.divLinks {
    flex: 1;
    background-color: lightblue; /* Nur für die Sichtbarkeit im Beispiel */
}

.divMitte {
    flex: 10; /* Ändere die Flex-Wert auf 2, um den mittleren Teil breiter zu machen */
    background-color: lightgreen; /* Nur für die Sichtbarkeit im Beispiel */
}

.divRechts {
    flex: 1;
    background-color: lightyellow; /* Nur für die Sichtbarkeit im Beispiel */
}



@media only screen and (max-width: 600px){
    
}